.page-activity_detail{
    background-color: #2c49af;
    .card{
        margin: 10px auto 20px;
        border: 2px solid black;
        border-radius: 10px;
        width: 705px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        box-sizing: border-box;
        padding: 20px;
        font-size: 22px;
        color: #fff;
        background-color: #2b0387;
        line-height: 46px;
        text-align: center;
        .small{
            font-size: 18px;
        }
        .title{
            font-size: 28px;
            font-weight: bold;
            color: #19d1ff;
            text-align: center;
        }
        .sub-title{
            font-size: 24px;
            text-align: center;
        }
        .desc{
            margin-bottom: 20px;
        }
        .center{
            text-align: center;
        }
        .qq{
            color: #fff !important;
        }
    }
}