.activity-detail-dialog {
  background-color: #323d65;
  border-radius: 15px;
  border: 1px solid rgb(93, 238, 255);
  opacity: 0.91;
  width: 667px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 18px;
  position: relative;
  max-height: 80vh;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  .btn-x {
    position: absolute;
    width: 27px;
    height: 22px;
    padding: 15px;
    background: url("../assets/toyota/btn-x.png") no-repeat;
    background-size: 27px 22px;
    background-position: center center;
    right: 0px;
    top: 0px;
  }
  .section {
    margin-bottom: 30px;
    font-size: 28px;
  }
  .title {
    color: #5deeff;
    line-height: 1.5;
  }
  .content {
    color: #ff5db8;
    .highlight {
      color: #fff799;
    }
  }
}
