@import './antd-fix.less';
:global {
    p {
        -webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
    }
    body {
        font-family: 'Yuanti SC','Microsoft YaHei', '黑体', 'Arial', '宋体', sans-serif;
        line-height: 1.4285;
    }
    [data-dpr='1'] body {
        font-size: 12px;
    }
    [data-dpr='2'] body {
        font-size: 24px;
    }
    [data-dpr='2.5'] body {
        font-size: 30px;
    }
    [data-dpr='2.75'] body {
        font-size: 33px;
    }
    [data-dpr='3'] body {
        font-size: 36px;
    }
    [data-platform='Desktop'] body {
        width: 540px;
        height: 870px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) scale(0.7);
        transform-origin: 0px 0px;
    }
    .left-enter {
        z-index: 10;
        transform: translate3d(100%, 0, 0);
    }
    .left-enter.left-enter-active {
        transform: translate3d(0, 0, 0);
        transition: 0.5s;
    }
    .left-exit,
    .left-leave {
        transform: translate3d(0, 0, 0);
    }
    .left-leave.left-exit-active,
    .left-leave.left-leave-active {
        transform: translate3d(-100%, 0, 0);
        transition: 0.5s;
    }
    .right-enter {
        z-index: 10;
        transform: translate3d(-100%, 0, 0);
    }
    .right-enter.right-enter-active {
        transform: translate3d(0, 0, 0);
        transition: 0.5s;
    }
    .right-exit,
    .right-leave {
        transform: translate3d(0, 0, 0);
    }
    .right-leave.right-exit-active,
    .right-leave.right-leave-active {
        transform: translate3d(100%, 0, 0);
        transition: 0.5s;
    }
    .fade-enter {
        z-index: 10;
        opacity: 0;
    }
    .fade-enter.fade-enter-active {
        opacity: 1;
        transition: all 1s ease-in;
    }
    .fade-exit,
    .fade-leave {
        opacity: 1;
    }
    .fade-leave.fade-exit-active,
    .fade-leave.fade-leave-active {
        opacity: 0;
        transition: all 1s ease-out;
    }
    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
    }
    .routerWrapper {
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: #fff;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        // [data-platform='IPhone'] &{
        //     min-height: 1206px;
        // }
    }
    .lz-logo {
        position: absolute;
        left: 69px;
        top: (36+56/2)/1206*100%;
        transform: translateY(-50%);
        width: 103px;
        height: 56px;
    }
    .activity-detail {
        position: absolute;
        width: 141px;
        height: 39px;
        top: (46+39/2)/1206*100%;
        transform: translateY(-50%);
        right: 65px;
        text-decoration: underline;
        color: #fff;
    }
    .mask {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.57);
        z-index: 10;
    }
    .share-guide {
        position: absolute;
        right: 50px;
        top: 50px;
        width: 209px;
    }
    .download-dialog {
        .download-icon {
            width: 279px;
        }
        .ft {
            position: absolute;
            text-align: center;
            bottom: -20px;
            left: 0;
            width: 100%;
            .btn {
                width: 214px;
                background-image: linear-gradient( to bottom, rgb(255,186,217) 0%, rgb(252,89,163) 100%);
                display: inline-block;
                border-radius: 10px;
                box-sizing: border-box;
                font-size: 24px;
                color: #fff;
                line-height: 56px;
            }
            .open {
                margin-left: 20px;
            }
        }
    }
    .detail-dialog {
        width: 600px;
        height: 860px;
        box-sizing: border-box;
        color: #b3451e;
        background-color: #fff;
        position: absolute;
        left: 50%;
        top: (117+860/2)/1206*100%;
        transform: translate(-50%,-50%);
        border-radius: 10px;
        box-shadow: 10.5px 18.187px 49px 0px rgba(244, 232, 219, 0.39);
        padding: 50px 0 30px;
        .activity-theme{
            text-align: center;
            font-size: 28px;
        }
        .content {
            text-align: left;
            font-size: 20px;
            line-height: 32px;
            background: url('../assets/loveletter/detail-content-bg.png') no-repeat;
            background-size: 100% 100%;
            width: 455px;
            margin: 0 auto 25px;
            padding: 50px 40px;
            box-sizing: border-box;
            position: relative;
            &:first-of-type{
                margin-top: 60px;
            }
            .sub-tit{
                background: url('../assets/loveletter/detail-content-title-bg.png') no-repeat;
                background-size: 100% auto;
                width: 212px;
                height: 42px;
                line-height: 38px;
                color: #fff;
                font-size: 26px;
                position: absolute;
                top: -21px;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
            }
        }
        .download-app{
            width: 452px;
            height: 116px;
            margin: 70px auto 0px;
            background: url('../assets/loveletter/detail-bar.png') no-repeat;
            background-size: 100% auto;
        }
    }
    .iknowBtn {
        width: 264px;
        height: 120px;
        background: url('../assets/iknowBtn.png') no-repeat;
        background-size: 100% auto;
        position: absolute;
        top: (1050+120/2)/1206*100%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .common-dialog {
        border-radius: 36px;
        width: 506px;
        height: 229px;
        box-sizing: border-box;
        padding: 18px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        background-color: #fff;
        .btn-close{
            width: 54px;
            height: 53px;
            padding: 10px;
            background: url('../assets/btn-close.png') no-repeat;
            background-size: 54px auto;
            background-position: center center;
            position: absolute;
            right: -30px;
            top: -30px;
        }
        .content-box {
            width: 100%;
            height: 100%;
            border: 2px solid rgb(255, 177, 213);
            border-radius: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            box-sizing: border-box;
            padding: 20px;
            .msg{
                color: #628585;
                font-size: 28px;
            }
        }
    }
    .openbrowser {
        background-color: rgba(0, 0, 0, 0.7);
        .guide-weixin-ios {
          html[data-platform='Android'] & {
            display: none;
          }
          position: absolute;
          right: 40px;
          top: 10px;
          width: 548px;
        }
        .guide-weixin-android {
          html:not([data-platform='Android']) & {
            display: none;
          }
          width: 560px;
          position: absolute;
          right: 60px;
          top: 10px;
        }
        .guide-btn-download {
          position: absolute;
          top: 460 * 2px;
          left: 50%;
          margin-left: -100 * 2px;
          font-size: 30px;
          color: #ffffff;
          width: 200 * 2px;
          height: 50 * 2px;
          line-height: 50 * 2px;
          text-align: center;
          background: #fe5353;
          border-radius: 2 * 2px;
          text-decoration: none;
          outline: none;
        }
      }
}
