@import './antd-fix.less';
:global {
    p {
        -webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
    }
    body {
        font-family: 'Microsoft YaHei', '黑体', 'Arial', '宋体', sans-serif;
        line-height: 1.4285;
    }
    [data-dpr='1'] body {
        font-size: 12px;
    }
    [data-dpr='2'] body {
        font-size: 24px;
    }
    [data-dpr='2.5'] body {
        font-size: 30px;
    }
    [data-dpr='2.75'] body {
        font-size: 33px;
    }
    [data-dpr='3'] body {
        font-size: 36px;
    }
    [data-platform='Desktop'] body {
        width: 540px;
        height: 870px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) scale(0.7);
        transform-origin: 0px 0px;
    }
    .left-enter {
        z-index: 10;
        transform: translate3d(100%, 0, 0);
    }
    .left-enter.left-enter-active {
        transform: translate3d(0, 0, 0);
        transition: 0.5s;
    }
    .left-exit,
    .left-leave {
        transform: translate3d(0, 0, 0);
    }
    .left-leave.left-exit-active,
    .left-leave.left-leave-active {
        transform: translate3d(-100%, 0, 0);
        transition: 0.5s;
    }
    .right-enter {
        z-index: 10;
        transform: translate3d(-100%, 0, 0);
    }
    .right-enter.right-enter-active {
        transform: translate3d(0, 0, 0);
        transition: 0.5s;
    }
    .right-exit,
    .right-leave {
        transform: translate3d(0, 0, 0);
    }
    .right-leave.right-exit-active,
    .right-leave.right-leave-active {
        transform: translate3d(100%, 0, 0);
        transition: 0.5s;
    }
    .fade-enter {
        z-index: 10;
        opacity: 0;
    }
    .fade-enter.fade-enter-active {
        opacity: 1;
        transition: all .5s ease-in;
    }
    .fade-exit,
    .fade-leave {
        opacity: 1;
    }
    .fade-leave.fade-exit-active,
    .fade-leave.fade-leave-active {
        opacity: 0;
        transition: all .5s ease-out;
    }
    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
    }
    .routerWrapper {
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: #fff;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        background: #2c49af;
    }
    .lz-logo {
        position: absolute;
        left: 25px;
        top: 12px;
        width: 118px;
        height: 43px;
    }
    .dl{
        .download-dialog{
            width: 620px;
            height: 390px;
            border: 2px solid black;
            border-radius: 10px;
            background: rgb(43, 3, 135);
            .download-icon{
                width: 108px;
                margin: 30px auto 20px;
                display: block;
            }
            .download-tip{
                color: #fff;
                text-align: center;
                font-weight: bold;
                margin-bottom: 53px;
            }
            .operation{
                display: flex;
                justify-content: center;
            }
            .btn{
                border: 1px solid black;
                border-radius: 32px;
                width: 235px;
                line-height: 63px;
                font-size: 28px;
                color: #fff;
                text-align: center;
                font-weight: bold;
                &.download{
                    background-color: #e591b9;
                    margin-right: 65px;
                    box-shadow: -9px -9px 0 inset #b97595;
                }
                &.open{
                    background-color: #2eabee;
                    box-shadow: -9px -9px 0 inset #206cc0;
                }
            }
        }
    }
    .banner {
        width: 100%;
        height: 490px;
        background: url('../assets/campus-line/banner.png') no-repeat;
        background-size: 100% auto;
        position: relative;
    }
    .activity-detail{
        font-size: 24px;
        text-decoration: underline;
        color: #fff;
        position: absolute;
        top: 25px;
        right: 30px;
        font-weight: bold;
    }
}
