.page--index{
    background: url('../assets//toyota/bg-index.png') no-repeat;
    background-size: 100% auto;
    position: relative;
    height: 2778px;
    .logo{
        position: absolute;
        left: 198px;
        top: 81px;
        width: 130px;
        height: 47px;
    }
    .title{
        position: absolute;
        left: 0;
        top: 48px;
        width: 100%;
        height: 870px;
        background: url('../assets//toyota/title-index.png') no-repeat;
        background-size: 100% auto;
    }
    .kol--container{
        position: absolute;
        left: 0;
        top: 994px;
        width: 100%;
    }
    .activity-detail{
        width: 183px;
        height: 28px;
        position: absolute;
        left: 507px;
        top: 1600px;
        background: url('../assets/toyota/activity-detail-btn.png') no-repeat;
        background-size: 100% auto;
    }
    .saicheng{
        width: 553px;
        height: 212px;
        background: url('../assets/toyota/saicheng.png') no-repeat;
        background-size: 100% auto;
        position: absolute;
        left: 50%;
        top: 1671px;
        transform: translateX(-50%);
    }
}