.page--index {
  background: url("../assets//toyota/bg-index.png") no-repeat;
  background-size: 100% auto;
  position: relative;
  height: 2778px;
  .logo {
    position: absolute;
    left: 198px;
    top: 81px;
    width: 130px;
    height: 47px;
  }
  .title {
    position: absolute;
    left: 0;
    top: 48px;
    width: 100%;
    height: 870px;
    background: url("../assets//toyota/title-index.png") no-repeat;
    background-size: 100% auto;
  }
  .kol--container {
    position: absolute;
    left: 0;
    top: 994px;
    width: 100%;
  }
  .activity-detail {
    width: 183px;
    height: 28px;
    position: absolute;
    left: 507px;
    top: 1600px;
    background: url("../assets/toyota/activity-detail-btn.png") no-repeat;
    background-size: 100% auto;
  }
  .saicheng {
    width: 553px;
    height: 212px;
    background: url("../assets/toyota/saicheng.png") no-repeat;
    background-size: 100% auto;
    position: absolute;
    left: 50%;
    top: 1671px;
    transform: translateX(-50%);
  }
  .rank {
    width: 633px;
    border-radius: 10px;
    border: 1px solid rgb(93, 238, 255);
    box-sizing: border-box;
    padding: 18px;
    position: absolute;
    top: 1974px;
    left: 50%;
    transform: translateX(-50%);
    .operation {
      margin-top: 18px;
      display: flex;
      justify-content: space-between;
      .btn {
        width: 190px;
        height: 62px;
        line-height: 62px;
        border: 1px solid rgb(255, 93, 184);
        text-align: center;
        font-size: 32px;
        border-radius: 10px;
        color: rgb(255, 93, 184);
      }
    }
  }
  .btn-appointment {
    position: fixed;
    bottom: 0;
    left: 0;
    line-height: 94px;
    background-color: #fff;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #ff5db8;
  }
}
