.kol-page{
    height: 100%;
    background: url('../assets/loveletter/audio-bg-part1.png') no-repeat;
    background-size: 100% auto;
    background-position: left center;
    .book{
        position: absolute;
        top: (120+820/2)/1206*100%;
        transform: translateY(-50%);
        left: 133px;
        height: 820px;
        width: 515px;
        .avatar{
            border: 3px solid rgb(81, 209, 255);
            border-radius: 50% 50%;
            position: absolute;
            width: 145px;
            height: 145px;
            top: 70px;
            left: 50%;
            transform: translateX(-50%);
        }
        .btn-play{
            width: 262px;
            height: 94px;
            background: url('../assets/loveletter/btn-play1.png') no-repeat;
            background-size: 100% auto;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 250px;
        }
        .card{
            width: 463px;
            height: 223px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 356px;
            background: url('../assets/loveletter/card-bg1.png') no-repeat;
            background-size: 100% auto;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            line-height: 40px;
            color: #62b8ff;
        }
        .voice-index{
            position: absolute;
            top: 640px;
            left: 50%;
            transform: translateX(-50%);
            color: #62b8ff;
            width: 100%;
            .item{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 15px;
                .label{
                    font-size: 32px;
                }
                .val{
                    display: flex;
                    .star{
                        width: 31px;
                        height: 26px;
                        margin-right: 10px;
                        .active{

                        }
                    }
                }
            }
        }
    }
    .btn{
        position: absolute;
        width: 371px;
        height: 107px;
        left: 50%;
        top: (1027+107/2)/1206*100%;
        transform: translate(-50%,-50%);
        background: url('../assets/loveletter/audio-btn-part1.png') no-repeat;
        background-size: 100% auto;
    }
}
.btn-tab{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 107px;
    height: 109px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    &.prev{
        left: 0;
        background-image: url('../assets/loveletter/arrow-left.png');
    }
    &.next{
        right: 0;
        background-image: url('../assets/loveletter/arrow-right.png');
    }
}
.tip{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 51px;
    background: url('../assets/loveletter/audio-tip.png') no-repeat;
    background-size: 100% auto;
}