.kol-page{
    height: 100%;
    background: url('../assets/loveletter/audio-bg-part1.png') no-repeat;
    background-size: 100% auto;
    background-position: left center;
    .book{
        position: absolute;
        top: (115+860/2)/1206*100%;
        transform: translateY(-50%);
        left: 133px;
        height: 860px;
        width: 550px;
    }
    .btn{
        position: absolute;
        width: 371px;
        height: 107px;
        left: 50%;
        top: (1027+107/2)/1206*100%;
        transform: translate(-50%,-50%);
        background: url('../assets/loveletter/audio-btn-part1.png') no-repeat;
        background-size: 100% auto;
    }
    .tip{
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 51px;
        background: url('../assets/loveletter/audio-tip.png') no-repeat;
        background-size: 100% auto;
    }
}