.record-page{
    height: 100%;
    background: url('../assets/loveletter/record-bg.png') no-repeat;
    background-size: 100% auto;
    background-position: left center;
    .main{
        width: 600px;
        height: 860px;
        position: absolute;
        left: 50%;
        top: (117+860/2)/1206*100%;
        transform: translate(-50%,-50%);
        background-color: #fff;
        border-radius: 10px;
    }
}