.record-page{
    height: 100%;
    background: url('../assets/loveletter/record-bg.png') no-repeat;
    background-size: 100% auto;
    background-position: left center;
    font-weight: bold;
    .main{
        width: 600px;
        height: 860px;
        position: absolute;
        left: 50%;
        top: (117+860/2)/1206*100%;
        transform: translate(-50%,-50%);
        background-color: #fff;
        border-radius: 10px;
        .avatar{
            margin: 85px auto 65px;
            width: 150px;
            height: 150px;
            border: 3px solid rgb(179, 69, 30);
            border-radius: 50% 50%;
            box-sizing: border-box;
            display: block;
        }
        .subject-text{
            width: 455px;
            height: 285px;
            background: url('../assets/loveletter/detail-content-bg.png') no-repeat;
            background-size: 100% 100%;
            margin: 0 auto 35px;
            position: relative;
            padding: 30px 30px 20px;
            box-sizing: border-box;
            color: #b3451e;
            font-size: 20px;
            display: flex;
            align-items: center;
            .content{
                width: 100%;
                text-align: center;
                max-height: 100%;
                overflow: scroll;
                -webkit-overflow-scrolling: touch;
            }
            .tit{
                width: 212px;
                height: 42px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: -21px;
                background: url('../assets/loveletter/suject-tit.png') no-repeat;
                background-size: 100% auto;
            }
            .from{
                font-size: 18px;
                text-align: right;
                margin-top: 30px;
            }
        }
        .time{
            font-size: 42px;
            margin-left: 115px;
            margin-bottom: 50px;
            color: #55210a;
        }
        .process-bar{
            width: 375px;
            height: 20px;
            margin: 0 auto;
            background: url('../assets/loveletter/process-bar.png') no-repeat;
            background-size: 100% 100%;
            position: relative;
            padding: 0 4px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            .inset{
                height: 14px;
                width: 50%;
                border-radius: 7px;
                background: url('../assets/loveletter/process-bar-inset.png') no-repeat;
                background-size: 100% 100%;
                transform: translateZ(0);
            }
            .cursor{
                width: 35px;
                height: 47px;
                top: -50px;
                background: url('../assets/loveletter/cursor.png') no-repeat;
                background-size: 100% auto;
                left: 0;
                transform: translateX(-50%);
                position: absolute;
            }
        }
    }
    .btn-start{
        width: 267px;
        height: 119px;
        position: absolute;
        left: 50%;
        top: (1058+119/2)/1206*100%;
        transform: translate(-50%,-50%);
        background: url('../assets/loveletter/btn-start-record.png') no-repeat;
        background-size: 100% auto;
    }
    .btn-stop{
        .btn-start;
        background-image: url('../assets/loveletter/btn-stop-record.png');
    }
    .btn-next{
        width: 263px;
        height: 119px;
        position: absolute;
        top: (1058+119/2)/1206*100%;
        transform: translateY(-50%);
        left: 73px;
        background: url('../assets/loveletter/btn-next.png') no-repeat;
        background-size: 100% auto;
    }
    .btn-remake{
        width: 263px;
        height: 119px;
        position: absolute;
        top: (1058+119/2)/1206*100%;
        transform: translateY(-50%);
        right: 73px;
        background: url('../assets/loveletter/btn-remake.png') no-repeat;
        background-size: 100% auto;
    }
}