@import './mixin.less';
.voice-page {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    .main{
        .center-container-mixin();
        padding: 10px 0;
    }
    .panl {
        #panl-mixin.panl();
        margin: 0 auto;
        // height: 585px;
        height: 100%;
        max-height: 600px;
        .panl-title {
            #panl-mixin.panl-title();
            .avatar-wrapper {
                #panl-mixin.avatar-wrapper();
            }
            .nickname {
                #panl-mixin.nickname();
            }
            .avatar {
                #panl-mixin.avatar();
            }
            .btn-control {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background-repeat: no-repeat;
                background-size: 100% auto;
                background-position: center;
                width: 150px;
                height: 150px;
                &.play {
                    background-image: url('../assets/play.svg');
                }
                &.pause {
                    background-image: url('../assets/pause.svg');
                    background-size: 80px auto;
                }
            }
        }
        .panl-content {
            #panl-mixin.panl-content();
            padding: 0 60px;
            font-size: 28px;
            color: #fff;
            display: flex;
            align-items: center;
            .center{
                width: 100%;
            }
            .row {
                margin-bottom: 20px;
                display: flex;
                // &:nth-last-child(2) {
                //     margin-bottom: 35px;
                // }
                &:last-child{
                    margin-bottom: 0px;
                }
                .cl1 {
                    flex: 1.5;
                }
                .cl2 {
                    flex: 1;
                }
            }
            .btn {
                .btn-mixin(204px,69px,34px);
            }
            .btn-vote {
                background: url('../assets/campus-line/btn-vote-lg.png')
                    no-repeat;
                background-size: 100% auto;
                &:active{
                    background: #71cf64;
                    border: 2px solid black;
                }
            }
            .btn-share {
                background: url('../assets/campus-line/btn-share-lg.png')
                    no-repeat;
                background-size: 100% auto;
                &:active{
                    background: #e591b9;
                    border: 2px solid black;
                }
            }
        }
    }
    .btn-back {
        // position: absolute;
        // left: 0;
        // bottom: 0;
        // width: 100%;
        .ft-btn-mixin();
    }
}
